<!-- 
<app-container>
  <h2>This is from ng-content</h2>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
</app-container> -->
<!-- <app-rooms></app-rooms> -->
<!-- <div #name></div> -->
<!-- <div [ngSwitch]="role">

  <div *ngSwitchCase="'User'">
    Welcome User!!
  </div>

  <div *ngSwitchCase="'Admin'">
    <app-rooms></app-rooms>
  </div>

  <div *ngSwitchDefault>
    You are not authorized to view this page!!
    <app-fordbidden></app-fordbidden>
  </div>
</div> -->
<!-- <div>
  <ng-template #user></ng-template>
</div> -->
<!-- 
<a routerLink="/room">Room </a>
<a routerLink="/employee">Employee</a>
<router-outlet></router-outlet> -->
<app-sidenav></app-sidenav>