
<div class="container">
  <div class="search-container mt-2 mb-1">
    <input
      class="mat-elevation-z1 search-input form-control"
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search"
      (input)="applyFilter()"
      (blur)="clearSearch()"
      (focus)="showDropdown()"
    />
  </div>

  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      *ngIf="showDropdownFlag"
    >
      <!-- PostID Column -->
      <ng-container matColumnDef="postId">
        <th mat-header-cell *matHeaderCellDef>PostID</th>
        <td mat-cell *matCellDef="let comment" >{{ comment.postId }}</td>
      </ng-container>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let comment">{{ comment.id }}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let comment">{{ comment.name }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let comment">{{ comment.email }}</td>
      </ng-container>

      <!-- Body Column -->
      <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef>Body</th>
      <td mat-cell *matCellDef="let comment">{{ comment.body }}</td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" ></tr>
    </table>
  </div>
</div>
