<!-- <div class="container">
    <div class="input-group py-2 mt-2">
        <input type="search" class="form-control" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" [(ngModel)]="searchText" (blur)="clearSearch()" (focus)="showDropdown()" />
        <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>Search</button>
    </div>
    <div class="dropdown" >

        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr class="text-center">
                        <th>PostID</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Body</th>
                    </tr>
                </thead>
                <tbody *ngIf="showDropdownFlag">
                    <tr *ngFor="let common of comment$ | async">
                        <td>{{ common.postId }}</td>
                        <td>{{ common.id }}</td>
                        <td>{{ common.name }}</td>
                        <td>{{ common.email }}</td>
                        <td>{{ common.body }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div> -->
<div class="container">
  <div class="search-container mt-2 mb-1">
    <div class="search-input-container">
      <input
        class="mat-elevation-z1 search-input form-control"
        type="text"
        [(ngModel)]="searchText"
        placeholder="Search"
        (input)="applyFilter()"
        (blur)="clearSearch()"
        (focus)="showDropdown()"
      />
      <div class="search-icon">
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      *ngIf="showDropdownFlag"
    >
      <!-- PostID Column -->
      <!-- <ng-container matColumnDef="postId">
        <th mat-header-cell *matHeaderCellDef>PostID</th>
        <td mat-cell *matCellDef="let comment">{{ comment.postId }}</td>
      </ng-container> -->
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let comment">{{ comment.id }}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let comment">{{ comment.name }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let comment">{{ comment.email }}</td>
      </ng-container>

      <!-- Body Column -->
      <!-- <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef>Body</th>
      <td mat-cell *matCellDef="let comment">{{ comment.body }}</td>
    </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
