table {
  width: 100%;
}

.search-container {
  position: relative;
}

.search-input {
  top: 0;
  right: 0;
  width: 300px;
  height: 30px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.search-input:focus {
  border: 1px solid #323a93;
}
