.container{
  width: 80%;
}
.table-container {
  position: relative;
  /* overflow-x: auto; */
}
.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.search-input-container {
  position: relative;
}

.search-input {
  width: 200px;
  height: 30px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: #888;
}

.search-icon mat-icon {
  font-size: 20px;
  height: 16px;
  width: 18px;
}